/* Media Query Screen 1199px */
@media (max-width: 1199px){

}
/* Media Query Screen 991px */
@media (max-width: 991px){

}

/* Media Query Screen 767px */
@media (max-width: 767px){
    /* Banner 1 Section */
    .banner .banner-content {
        max-width: 100%;
        float: none;
        padding: 6rem 0;
    }
    .banner h1 {
        margin-bottom: 2.5rem;
        font-size: 4rem;
    }
    /* Banner Section 2 */
    .banner-2 .banner-content {
        max-width: 100%;
        float: none;
        padding: 6rem 0;
    }
    .banner-2 h1 {
        margin-bottom: 2.5rem;
        font-size: 4rem;
    }
    /* Footer Section */
    .footer ul {
        padding-bottom: 4rem;
    }
}

/* Media Query Screen 575px */
@media (max-width: 575px){

}

/* Media Query Screen 376px */
@media (max-width: 376px){
    
}